apiVersion: v1
kind: Service
metadata:
  name: flask-service
  labels:
    app: flask-hello
spec:
  type: NodePort
  selector:
    app: flask-hello
  ports:
    - name: http
      port: 5000
      targetPort: 5000
